<%= form_for ([@todo_list, @todo_list.todo_items.build]), :html => { :class => "form-horizontal todo_list" } do |f| %>

  <div class="form-group">
    <%= f.label :content, :class => 'control-label col-lg-3' %>
    <div class="col-lg-6">
      <%= f.text_field :content, :class => 'form-control', :placeholder => 'add todo item'%>
    </div>
    <%=f.error_span(:content) %>
  </div>

  <div class="form-group">
    <%= f.label :difficulty, :class => 'control-label col-lg-3' %>
    <div class="col-lg-6">
      <%= f.select :difficulty, {'easy' => 1, 'normal' => 2, 'hard' => 3}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:difficulty) %>
  </div>

  <div class="form-group">
    <%= f.label :deadline, :class => 'control-label col-lg-3' %>
    <div class="col-lg-6">
      <%= f.text_field :deadline, :class => 'form-control' %>
    </div>
    <%=f.error_span(:deadline) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-8 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>