<%- model_class = TodoList -%>
<h1 class="page-header">
  <p class="text-center"><%= @todo_list.title %></p>
</h1>

<%= render 'todo_items/header' %>

<%= render "todo_items/todo_item" %>

<%= render "todo_items/form" %>

<%= link_to t('.back', :default => t("helpers.links.list overview")),
              todo_lists_path, :class => 'btn btn-default'  %>
<%= link_to t('.destroy', :default => t("helpers.links.list delete")),
              todo_list_path(@todo_list),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
