<!DOCTYPE html>
<html ng-app="sampleApp">
<html>
  <head>
    <title>Tododemo2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
  	<% flash.each do |key, value| %>
  		<%= content_tag(:div, value, class: "#{key}") %>
	  <% end %>
    <%= yield %>
  </body>
</html>
